#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#logo{
  margin: 0;
  padding: 12px 48px;
  color: #fbf7ee;
}

#slogan{
  margin: 0;
  padding: 0 48px;
  color: #fbf7ee;
}

#main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 20vh;
  background: none;
  /* border: 5px solid white; */
  text-align: left;
}

#app-body {
  width: 100%;
  height: 80vh;
  margin-top: 20vh;
}

.nav-link1 {
  margin: 12px 24px;
  font-size: 40px;
  text-align: center;
}

.nav-link2 {
  margin: 12px 24px;
  font-size: 40px;
  text-align: center;
}

.nav-link1:hover {
  color: cyan;
}

.nav-link2:hover {
  color: cyan;
}

/* #search-bar{
  width: 48px;
  height: 16px;
  background: white;
} */

.artist-list-item{
  color: black;
  font-size: 30px;
}

.subject-list-item{
  color: black;
  font-size: 30px;
}